<ion-view title='<img src="img/nc-logo.png" class="img">'>
    <ion-nav-buttons side="right">
      <button class="button icon-left ion-checkmark button-positive">
        Save
      </button>
   </ion-nav-buttons>
  <ion-content class="has-header">
    <h4>Daily Consumption</h4>
    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Date</span>
        <input type="date" placeholder="14/09/2014">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Personal VP</span>
        <input type="number" placeholder="SP/SR personal VP">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Name</span>
        <input type="tel" placeholder="Customer's name">
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          Consumer's Type
        </div>
        <select>
          <option>New</option>
          <option selected>Recommended</option>
          <option>Exiting</option>
        </select>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Customer's VP</span>
        <input type="number" placeholder="Customer's VP">
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          Type of consumption
        </div>
        <select>
          <option>7 day card</option>
          <option selected>Long Term</option>
          <option>Others</option>
        </select>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Total Consumption VP</span>
        <input type="number" placeholder="Total VP">
      </label>
  </ion-content>
</ion-view>
