<ion-view title='<img src="img/hl-logo.png">'>
  <ion-content class="has-header" style="padding:.5em;">
    <h4>{{'goals.title' | i18n}}</h4>
    <div class="list">
       
      <a class="item item-icon-left">
        <i class="icon ion-eye"></i>
        {{'goals.option1' | i18n }}
      </a>
      <a class="item item-icon-left">
        <i class="icon ion-edit"></i>
        {{'goals.option2' | i18n }}
      </a>
      <a class="item item-icon-left">
        <i class="icon ion-calendar"></i>
        {{'goals.option3' | i18n }}
      </a>      
      <a class="item item-icon-left">
        <i class="icon ion-bag"></i>
        {{'goals.option4' | i18n }}
      </a>
        
    </div>
  </ion-content>
</ion-view>
