<ion-view title='<img src="img/nc-logo.png" class="img">'>
  <ion-content class="has-header">
      <ion-nav-buttons side="right">
          <a class="button icon-left ion-ios7-settings-strong button-positive" href="#/tab/settings">
          </a>
       </ion-nav-buttons>
      <div class="row">
          <div class="col">
              <a class="menu-icon" href="#/tab/club-management/members">
              <i class="icon ion-person-stalker"></i><br/>
              Members
              </a>
          </div>
          <div class="col">
              <a class="menu-icon">
              <i class="icon ion-images"></i><br/>
              Gallery
              </a>
          </div>
          <div class="col">
              <a class="menu-icon">
              <i class="icon ion-map"></i><br/>
              Check Location
              </a>
          </div>
      </div>
      <div class="row">
          <div class="col">
              <a class="menu-icon">
              <i class="icon ion-heart"></i><br/>
              Open New Club
              </a>
          </div>
          <div class="col">
              <a class="menu-icon">
              <i class="icon ion-document-text"></i><br/>
              Submit Licenses
              </a>
          </div>
          <div class="col">
              <a class="menu-icon">
              <i class="icon ion-arrow-graph-up-right"></i><br/>
              Rating
              </a>
          </div>
      </div>
  </ion-content>
</ion-view>
