<ion-view title='<img src="img/nc-logo.png" class="img">'>
  <ion-nav-buttons side="left">
    <ion-nav-buttons side="right">
      <button class="button icon-left ion-checkmark button-positive">
        Save
      </button>
   </ion-nav-buttons>
  </ion-nav-buttons>
  <ion-content class="has-header">
   <ul class="list">

      <li class="item item-toggle">
         Notifications
         <label class="toggle toggle-assertive">
           <input type="checkbox">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
      </li>
      <li class="item item-toggle">
         Sounds
         <label class="toggle toggle-balanced">
           <input type="checkbox" checked="checked">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
      </li>
      <li class="item item-toggle">
         Automatic Backups
         <label class="toggle toggle-energized">
           <input type="checkbox">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
      </li>
      <li class="item item-toggle">
         Push Notifications
         <label class="toggle toggle-assertive">
           <input type="checkbox" checked="checked">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
      </li>

    </ul>
  </ion-content>
</ion-view>
