<ion-view title='<img src="img/hl-logo.png">'>
  <ion-nav-buttons side="left">
    <ion-nav-buttons side="right">
      <a class="button icon-left ion-checkmark button-dark" href="#/tabs/home">
        Save
      </a>
   </ion-nav-buttons>
  </ion-nav-buttons>
  <ion-content class="has-header">
   <ul class="list">

      <li class="item item-toggle item-dark">
         Notifications
         <label class="toggle toggle-balanced">
           <input type="checkbox">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
      </li>
      <li class="item item-toggle item-dark">
         Sounds
         <label class="toggle toggle-balanced">
           <input type="checkbox" checked="dark">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
      </li>
      <li class="item item-toggle item-dark">
         Automatic Backups
         <label class="toggle toggle-balanced">
           <input type="checkbox">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
      </li>
      <li class="item item-toggle item-dark">
         Push Notifications
         <label class="toggle toggle-balanced">
           <input type="checkbox" checked="checked">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
      </li>

    </ul>
  </ion-content>
</ion-view>
