<ion-view title='<img src="img/hl-logo.png">'>
    <ion-nav-buttons side="right">
      <a class="button button-clear icon-left ion-person-add button-light">
      </a>
   </ion-nav-buttons>
   <ion-nav-buttons side="left">
      <a class="button button-clear icon-left ion-arrow-left-c button-light" href="#/tab/home">
      </a>
   </ion-nav-buttons>
  <div class="bar bar-subheader item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-ios7-search placeholder-icon"></i>
        <input type="search" placeholder="{{'common.search' | i18n}}">
      </label>
      <button class="button button-icon ion-ios7-close-empty button-clear button-light">
      </button>
    </div>
  <ion-content class="has-header">
    <div class="list has-header">
          <div class="item my-item"
             ng-repeat="member in members"
             ng-click="show()">
              <img src="../img/mcfly.png">
              <h2>{{member.name}}</h2>
              <p>{{member.id}}</p>
          </div>
    </div>
  </ion-content>
</ion-view>
