<ion-view title='<img src="img/nc-logo.png" class="img">'>
  <ion-nav-buttons side="right">
      <button class="button icon-left ion-checkmark button-positive">
        Save
      </button>
   </ion-nav-buttons>
  <ion-content class="has-header">
    <h4>Daily Activity</h4>
    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Date</span>
        <input type="date" placeholder="14/09/2014">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Name</span>
        <input type="text" placeholder="Customer's name">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Phone Number</span>
        <input type="tel" placeholder="Customer's phone number">
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          Way of Inviting
        </div>
        <select>
          <option>Flyer</option>
          <option selected>Walk in</option>
          <option>We Chat</option>
          <option>Recommendation</option>
        </select>
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          Interested in
        </div>
        <select>
          <option>Weight Management</option>
          <option selected>Career</option>
          <option>others</option>
        </select>
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          Meeting attended
        </div>
        <select>
          <option selected>1<sub>st</sub></option>
          <option>2<sub>nd</sub></option>
          <option>3<sub>rd</sub></option>
          <option>No</option>
        </select>
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          Invite Again
        </div>
        <select>
          <option selected>Yes</option>
          <option>No</option>
        </select>
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          Follow-up result
        </div>
        <select>
          <option selected>Following up</option>
          <option>Purchasing product</option>
          <option>SR</option>
        </select>
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          Lose Reason
        </div>
        <select>
          <option selected>N/A</option>
          <option>Price</option>
          <option>Long Distance</option>
          <option>Busy Schedule</option>
          <option>Don't know</option>
        </select>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Notes</span>
        <textarea rows="5" maxlength="255" placeholder="Some important notes"></textarea>
      </label>
    </div>
  </ion-content>
</ion-view>
