<ion-view title='<img src="img/hl-logo.png">'>
  <ion-nav-buttons side="right">
      <button class="button icon-left ion-close button-assertive">
        {{'common.cancel' | i18n}}
      </button>
   </ion-nav-buttons>
  <ion-content class="has-header" padding="true">
    <h4>{{'activity.title' | i18n}}</h4>
    <div class="list">
      <label class="item item-input item-light">
        <span class="input-label">{{'activity.field1.label' | i18n}}</span>
        <input type="date" placeholder="14/09/2014">
      </label>
      <label class="item item-input item-light">
        <span class="input-label">{{'activity.field2.label' | i18n}}</span>
        <input type="text" placeholder="{{'activity.field2.placeholder' | i18n}}">
      </label>
      <label class="item item-input item-light">
        <span class="input-label">{{'activity.field3.label' | i18n}}</span>
        <input type="tel" placeholder="{{'activity.field3.placeholder' | i18n}}">
      </label>
      <label class="item item-input item-select item-light">
        <div class="input-label">
          {{'activity.field4.label' | i18n}}
        </div>
        <select>
          <option>{{'activity.field4.options.option1' | i18n}}</option>
          <option selected>{{'activity.field4.options.option2' | i18n}}</option>
          <option>{{'activity.field4.options.option3' | i18n}}</option>
          <option>{{'activity.field4.options.option4' | i18n}}</option>
        </select>
      </label>
      <label class="item item-input item-select item-light">
        <div class="input-label">
          {{'activity.field5.label' | i18n}}
        </div>
        <select>
          <option>{{'activity.field5.options.option1' | i18n}}</option>
          <option selected>{{'activity.field5.options.option2' | i18n}}</option>
          <option>{{'activity.field5.options.option3' | i18n}}</option>
        </select>
      </label>
      <label class="item item-input item-select item-light">
        <div class="input-label">
          {{'activity.field6.label' | i18n}}
        </div>
        <select>
          <option>{{'activity.field6.options.option1' | i18n}}</option>
          <option selected>{{'activity.field6.options.option2' | i18n}}</option>
          <option>{{'activity.field6.options.option3' | i18n}}</option>
          <option>{{'activity.field6.options.option4' | i18n}}</option>
        </select>
      </label>
      <label class="item item-input item-select item-light">
        <div class="input-label">
          {{'activity.field7.label' | i18n}}
        </div>
        <select>
          <option selected>{{'activity.field7.options.option1' | i18n}}</option>
          <option>{{'activity.field7.options.option2' | i18n}}</option>
        </select>
      </label>
      <label class="item item-input item-select item-light">
        <div class="input-label">
          {{'activity.field8.label' | i18n}}
        </div>
        <select>
          <option selected>{{'activity.field8.options.option1' | i18n}}</option>
          <option>{{'activity.field8.options.option2' | i18n}}</option>
          <option>{{'activity.field8.options.option3' | i18n}}</option>
        </select>
      </label>
      <label class="item item-input item-select item-light">
        <div class="input-label">
          {{'activity.field9.label' | i18n}}
        </div>
        <select>
          <option>{{'activity.field9.options.option1' | i18n}}</option>
          <option selected>{{'activity.field9.options.option2' | i18n}}</option>
          <option>{{'activity.field9.options.option3' | i18n}}</option>
          <option>{{'activity.field9.options.option4' | i18n}}</option>
          <option>{{'activity.field9.options.option5' | i18n}}</option>
        </select>
      </label>
      <label class="item item-input item-light">
        <span class="input-label">{{'activity.field10.label' | i18n}}</span>
        <textarea rows="5" maxlength="255" placeholder="{{'activity.field10.placeholder' | i18n}}"></textarea>
      </label>
    </div>
      <button class="button button-full button-assertive" ng-click="showAlert()">
          {{'common.submit' | i18n}}
      </button>
  </ion-content>
</ion-view>
