<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <ion-nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->

<ion-tabs class="tabs-icon-top">


  <ion-tab badge="1" badge-style="badge-assertive" title="Home" icon="icon ion-home" href="#/tab/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>


  <ion-tab badge="5" badge-style="badge-assertive" title="Activity" icon="icon ion-ios7-calendar-outline" href="#/tab/daily-activity">
    <ion-nav-view name="tab-daily-activity"></ion-nav-view>
  </ion-tab>
  

  <ion-tab badge="9" badge-style="badge-assertive" title="Consumption" icon="icon ion-bag" href="#/tab/daily-consumption">
    <ion-nav-view name="tab-daily-consumption"></ion-nav-view>
  </ion-tab>

    
  <ion-tab badge="65" badge-style="badge-assertive" title="Goals" icon="icon ion-trophy" href="#/tab/goals">
    <ion-nav-view name="tab-goals"></ion-nav-view>
  </ion-tab>
    

  <ion-tab title="More" icon="icon ion-more" href="#/tab/more">
    <ion-nav-view name="tab-more"></ion-nav-view>
  </ion-tab>


</ion-tabs>